# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/.utmp/

# Build products from ECS, these are unfortunately under /Assets
/Assets/SceneDependencyCache*
/Assets/GlobalEntitiesDependencies*

# Addressables build result
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Aa]ddressableAssetsData/link.xml
/[Aa]ssets/[Aa]ddressableAssetsData/link.xml.meta

# LibreOffice backup file
*.ods#

# Firebase generated resource files
/ProjectSettings/AndroidResolverDependencies.xml
/ProjectSettings/AndroidResolverDependencies.xml.meta

/Assets/StreamingAssets/google-services-desktop.json
/Assets/StreamingAssets/google-services-desktop.json.meta

/Assets/Plugins/Android/Firebase*.androidlib/res

/Assets/Settings/google-services.json
/Assets/Settings/google-services.json.meta
/Assets/Settings/GoogleService-Info.plist
/Assets/Settings/GoogleService-Info.plist.meta

# Unity editor crash recovery
/Assets/_Recovery/*
/Assets/_Recovery.meta

# Misc. build artifacts
Logs/
Android-Build/
obj/Debug/
/Tools/CrashData/*
/Tools/AnalyticsData/*
!/Tools/AnalyticsData/.keepdir
/Assets/BuildReports.meta
/Assets/BuildReports/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Profile analyzer data captures
/ProfileAnalyzer/

# Code coverage reports
/CodeCoverage/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Google Play Games stuff from builds
/Assets/GeneratedLocalRepo*

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
# *.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# Generated during build by the SceneReference plugin
/Assets/Resources/Eflatun_SceneReference_SceneGuidToAddressMap.generated.json
/Assets/Resources/Eflatun_SceneReference_SceneGuidToAddressMap.generated.json.meta
/Assets/Resources/Eflatun_SceneReference_SceneGuidToPathMap.generated.json
/Assets/Resources/Eflatun_SceneReference_SceneGuidToPathMap.generated.json.meta

#server
!Server.sln
!Server.csproj

#backend
!Backend.sln
!Backend.csproj

#TrayIcon
!PlaybookIcon.sln
!PlaybookIcon.csproj

#masterserver
!MasterServer.csproj
builds

# ProBuilder mistakenly stores user settings under ProjectSettings
# https://forum.unity.com/threads/probuilder-settings-and-git.742934/
/ProjectSettings/Packages/com.unity.probuilder/Settings.json

# Save data snapshots
/Snapshots

# Krita temp files
*-autosave.kra
*-autosave.kra.meta

# HorderServer solution
!HordeServer/HordeServer.sln

# Generated during GameData import
/Assets/CloudCode/gamedata.*
/Assets/CloudCode/Economy/*
/Assets/CloudCode/Economy.meta
